
.Rproj.user/8B1EEE09/pcs/files-pane.pper
.Rproj.user/8B1EEE09/pcs/source-pane.pper
.Rproj.user/8B1EEE09/pcs/windowlayoutstate.pper
.Rproj.user/8B1EEE09/pcs/workbench-pane.pper
.Rproj.user/8B1EEE09/sources/prop/2DD4BBDB
.Rproj.user/8B1EEE09/sources/prop/3FF0F36F
.Rproj.user/8B1EEE09/sources/prop/51E74FEB
.Rproj.user/8B1EEE09/sources/prop/5667231E
.Rproj.user/8B1EEE09/sources/prop/62A09494
.Rproj.user/8B1EEE09/sources/prop/6BFCCD1D
.Rproj.user/8B1EEE09/sources/prop/7F404C60
.Rproj.user/8B1EEE09/sources/prop/8664B2F2
.Rproj.user/8B1EEE09/sources/prop/9FE7BFA7
.Rproj.user/8B1EEE09/sources/prop/A16DF9BE
.Rproj.user/8B1EEE09/sources/prop/AFAFEDF6
.Rproj.user/8B1EEE09/sources/prop/B12C2C12
.Rproj.user/8B1EEE09/sources/prop/B838C60D
.Rproj.user/8B1EEE09/sources/prop/EF1252DC
.Rproj.user/8B1EEE09/sources/prop/INDEX
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/01F9E94E-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/0C485FA3-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/27C647AF-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/2C0D0033-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/45DEB6A2-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/5156D7BF-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/52C1A849-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/82068D08
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/82068D08-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/856D5BDB-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/8AA9CECF-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/A784023A-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/C134676E-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/C4320004-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/CBDFF46D-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/E2659DD8-contents
.Rproj.user/8B1EEE09/sources/session-c2cd6cc6/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
